@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


body{
  width: auto;
  height: auto;
  background-color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-behavior: smooth;
  /*background-image: url(/images/Wallpaper4.png);*/
  background-image: url("/images/Wallpaper4.png");
  background-repeat:repeat-y;
}


.logo_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.253);
}

.logo {
  font-size: 1.5rem;
}

.logo_text2 {
  color: rgb(94, 94, 94);
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


a{
    color: red;
    text-decoration: none;
}


a:hover {
    color: white;
    transition: all 0.3s ease-in-out;
}


.home, .project, .clicks, .none {
    box-shadow: 2px 2px 5px rgb(213, 213, 213);
    border-radius: 10px;
    padding: 5px;
}

/* <--main body--> */

.all_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
  gap: 10rem;
}

.box1 img {
  height: 200px;
  width: 370px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.box1 {
  width: 370px;
  margin-top: 1rem;
  background-color: rgba(57, 57, 57, 0.837);
  cursor: pointer;
  border-radius: 16px;
}

.card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.project_description {
  height: 250px;
  color: white;
  margin-bottom: 0.5rem;
  padding: 1rem;
  font-family: cursive;
  display: flex;
  flex-direction: column;
}

.project-title {
  text-align: center;
  color: rgb(0, 195, 255);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.resource {
  margin-top: 10px;
  text-align: end;
  font-size: 22px;
  color: rgb(255, 178, 77);
  font-family: cursive;
}

.status-of-pro::after {
  content: "Currently Working";
  color: rgb(97, 255, 54);
}

footer {
  display: flex;
  color: white;
  justify-content: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 550px) and (max-height:950px) {
  .logo_top {
    display: inline;
    position: relative;
  }
  .logo {
    padding: 0;
    margin: 0;
    text-align: center;
    height: 2.5rem
  }
  .logo_text2 {
      font-size: 1.5rem;
  }

  .top {
    font-size: 0.8rem;
    margin: 0;
  }
}

/* @media screen and (max-width:950px){
  .logo_text2{
    font-size: 8rem;
    height: 5.5rem;
  }
  .description {
    width: 15rem;
    height: 10rem;
  }
  .image_project{
    width: 15rem;
    height:  12rem;
  }
  .boxex, .boxex1{
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
 */

/* @media screen and (max-width:650px){
  .logo_text2{
    font-size: 4rem;
    height: 3rem;
  }

  .boxex, .boxex1{
    padding-top: rem;
    gap: 2rem;
  }
  .box1{
    padding-top: 3rem ;
  }
  .description {
    width: 22rem;
    height: 15rem;
  }
  .description_project{
    font-size: 1rem;
  }
  .image_project{
    height: 15rem;
    width:  22rem;
  }
  .boxex{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    align-items: center;
    padding-right: 1rem;
  }
  .box1,.box2{
    padding-right: 0rem;
  }
  .boxex1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 1rem;
  }
  .myproject_break1{
    background-color: black;
  }
  .box5{
    padding-bottom: 2rem;
  }

} */


/* goals.HTML FILE */
.goal_body{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.classp{
  background-color: rgba(255, 0, 0, 0.421);
  height: 20rem;
  width: 40rem;
  color: white;
  font-family: monospace;
  font-size: 1rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 24px;
}