@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


body{
  width: auto;
  height: auto;
  background-color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-behavior: smooth;
}


.logo {
    margin-right: 4%;
    margin-left: 4%;
}
  

.logo_text2 {
    display: flex;
    justify-content: center;
    color: red;
    height: 100px;
    font-size: 9rem;
    overflow: hidden;
    box-shadow: 1px 1px 10px red;
    margin-top: 57px;
}

.logo_text {
    display: flex;
    justify-content: center;
    color: rgb(254, 35, 35);
    height: 100px;
    font-size: 11rem;
    overflow: hidden;
    box-shadow: 1px 1px 10px red;
}
  

  
header{
    position: sticky;
    top: 4rem;
    z-index: +1;
}
  
  
.top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
  
  
a{
    color: red;
    text-decoration: none;
}
  
  
a:hover {
    color: white;
    transition: all 0.3s ease-in-out;
}
  
  
.home, .project, .connect, .hire {
    box-shadow: 2px 2px 5px rgb(213, 213, 213);
    border-radius: 10px;
    padding: 5px;
}

/* <--main body--> */

.all_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
}

.image_project {
  margin-top: 0.5rem;
  height: 15rem;
  width: 15rem;
  background-size: contain;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  cursor: pointer;
}

.box1 {
  background-color: rgb(47, 47, 47);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  margin-left: 4rem;
  margin-right: 4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px grey;
}

.image_project:hover {
  width: 16.5rem;
  height: 16.5rem;
  transition: all 0.5s 0.2s ease-in-out;
}

.project_description {
  height: 6rem;
  background-color: blanchedalmond;
  margin-bottom: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  text-align: center;
  padding-top: 1rem;
  font-family: Poppins;
}

footer {
  display: flex;
  color: white;
  justify-content: center;
  margin-bottom: 2rem;
}

@media screen and (max-width:650px) {
  .logo_text2{
    font-size: 4rem;
    height: 3rem;
  }
}
   
/* @media screen and (max-width:950px){
  .logo_text2{
    font-size: 8rem;
    height: 5.5rem;
  }
  .description {
    width: 15rem;
    height: 10rem;
  }
  .image_project{
    width: 15rem;
    height:  12rem;
  }
  .boxex, .boxex1{
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

  
@media screen and (max-width:650px){
  .logo_text2{
    font-size: 4rem;
    height: 3rem;
  }

  .boxex, .boxex1{
    padding-top: rem;
    gap: 2rem;
  }
  .box1{
    padding-top: 3rem ;
  }
  .description {
    width: 22rem;
    height: 15rem;
  }
  .description_project{
    font-size: 1rem;
  }
  .image_project{
    height: 15rem;
    width:  22rem;
  }
  .boxex{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    align-items: center;
    padding-right: 1rem;
  }
  .box1,.box2{
    padding-right: 0rem;
  }
  .boxex1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 1rem;
  }
  .myproject_break1{
    background-color: black;
  }
  .box5{
    padding-bottom: 2rem;
  }
  
} */