@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


body{
  width: auto;
  height: auto;
  background-color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-behavior: smooth;
  background-image: url(/images/Wallpaper4.png);
}


.logo_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.253);
}

.logo {
  font-size: 1.5rem;
}

.logo_text2 {
  color: rgb(94, 94, 94);
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


a{
    color: red;
    text-decoration: none;
}


a:hover {
    color: white;
    transition: all 0.3s ease-in-out;
}


.home, .project, .clicks, .none {
    box-shadow: 2px 2px 5px rgb(213, 213, 213);
    border-radius: 10px;
    padding: 5px;
}

/* <--main body--> */

.all_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
  gap: 5rem;
}

.box1 img {
  height: 210px;
  width: 350px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.box1 {
  width: 350px;
  margin-top: 1rem;
  background-color: rgba(57, 57, 57, 0.837);
  cursor: pointer;
  border-radius: 16px;
}

.card {
  transition: all 0.4s ease-in-out;
}

.card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.project_description {
  height: 200px; 
  color: white;
  margin-bottom: 0.5rem;
  padding: 1rem;
  font-family: cursive;
  display: flex;
  flex-direction: column;
}

.project-title {
  text-transform: uppercase;
  font-family: fantasy;
  text-align: center;
  color: rgb(0, 255, 72);
  font-size: 24px;
  margin-bottom: 1rem;
}

.resource {
  margin-top: 10px;
  text-align: end;
  font-size: 22px;
  color: rgb(255, 178, 77);
  font-family: cursive;
}

.status-of-pro::after {
  content: "Currently Working";
  color: rgb(97, 255, 54);
}

footer {
  display: flex;
  color: white;
  justify-content: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 550px) and (max-height:950px) {
  .logo_top {
    display: inline;
    position: relative;
  }
  .logo {
    padding: 0;
    margin: 0;
    text-align: center;
    height: 2.5rem
  }
  .logo_text2 {
      font-size: 1.5rem;
  }

  .top {
    font-size: 0.8rem;
    margin: 0;
  }
}

/* goals.HTML FILE */
.goal_body{
  margin: 5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.classp{
  background-color: rgba(255, 0, 0, 0.421);
  height: 20rem;
  width: 40rem;
  color: white;
  font-family: monospace;
  font-size: 1rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 24px;
  margin-top: 1rem;
}

@media screen and (max-width:650px){
  .classp {
    height: 30rem;
    width: 350px
  }
}