body {
    height: 150vh;
}

.name {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 1rem;
}

.outer-container {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}
.main-container {
    display: flex;
}

.product-image {
    display: grid;
    align-content: center;
    border-bottom: #0071E3 1px solid;
    margin-right: 5px;
}
.product-image img{
    height: 550px;
    width: 500px;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 55rem;
    width: 30rem;
    padding: 0rem 0rem 1rem 2rem;
    background-color: whitesmoke;
    border-radius: 14px;
    margin: 50px 0px;
}

.product-name {
    font-size: 45px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: monospace;
    margin-bottom: 30px;
}

.more-image {
    display: flex;
    gap: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.more-image img {
    height: 60px;
    padding: 5px 1px;
    background-color: white;
    border-radius: 7px;
    cursor: pointer;
}

.product-price {
    font-size: 25px;
    font-family: monospace;
}

.addition {
    display: flex;
    justify-content: space-evenly;
}

.addition button {
    font-size: 16px;
    font-weight: bold;
    color: #0071E3;
    background-color: white;
    border: none;
    cursor: pointer;
}

.addition button:hover {
    text-decoration: underline;
}

.add-to-bag {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.add-to-bag p {
    text-align: start;
}

.add-to-bag button {
    width: 300px;
    padding: 10px;
    border: none;
    background-color: #0071E3;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}